# Installing MySQL Connector

In [1]:
!python -m pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp39-cp39-win_amd64.whl (7.2 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.4-cp39-cp39-win_amd64.whl (895 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.28 protobuf-3.19.4

In [2]:
import mysql.connector

In [4]:
new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root"
)

print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F8C0DED3A0>

# Creating A Database

In [1]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root"
)

new_cursor = new_db.cursor()

new_cursor.execute("CREATE DATABASE newData")

# Check if a database exists

In [3]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root"
)

new_cursor = new_db.cursor()

new_cursor.execute("SHOW DATABASES")

for n in new_cursor:
    print(n)

('information_schema',)
('mysql',)
('newdata',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Creating Tables and Showing Data

In [4]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("CREATE TABLE students (name VARCHAR(255), code VARCHAR(255))")

# List all tables in newdata database

In [5]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SHOW TABLES")

for x in new_cursor:
    print(x)

('students',)

# Add PRIMARY KEY when creating table

In [6]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("CREATE TABLE clients (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")

# Add PRIMARY KEY if table already exists

In [7]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# Inserting data into tables

In [8]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"                   # %s is a place holder
new_vals = ("Basma", "CODE5")

new_cursor.execute(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "new record inserted")

1 new record inserted

# Inserting many records into tables

In [9]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_vals = [
    ("Ahmed", "CODE30"),
    ("Basant", "CODE06"),
    ("Bassem", "CODE11"),
    ("Someone", "CODE110")
]

new_cursor.executemany(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "records inserted")

4 records inserted

# Select Table's data

In [11]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Basma', 'CODE5', 1)
('Ahmed', 'CODE30', 2)
('Basant', 'CODE06', 3)
('Bassem', 'CODE11', 4)
('Someone', 'CODE110', 5)

# Select data from columns

In [12]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SELECT name FROM students")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Basma',)
('Ahmed',)
('Basant',)
('Bassem',)
('Someone',)

In [13]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students")

new_data = new_cursor.fetchone()

print(new_data)

('Basma', 'CODE5', 1)

# Filter the result

In [15]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students WHERE code = 'CODE5'"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Basma', 'CODE5', 1)

In [18]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students WHERE name LIKE '%basma%'"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Basma', 'CODE5', 1)

# Sorting results

In [19]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students ORDER BY code DESC"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Basma', 'CODE5', 1)
('Ahmed', 'CODE30', 2)
('Someone', 'CODE110', 5)
('Bassem', 'CODE11', 4)
('Basant', 'CODE06', 3)

# Deleting records

In [20]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "DELETE FROM students WHERE name = %s"
name = ("someone",)

new_cursor.execute(new_sql, name)

new_db.commit()

print(new_cursor.rowcount, "records deleted from students from newdata")

1 records deleted from students from newdata

In [21]:
new_cursor.execute("SELECT name FROM students")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Basma',)
('Ahmed',)
('Basant',)
('Bassem',)

# Deleting table

In [22]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "DROP TABLE IF EXISTS clients"

new_cursor.execute(new_sql)

# Updating table

In [23]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "UPDATE students SET code = %s WHERE code = %s"
new_vals = ("CODE05", "CODE5")

new_cursor.execute(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "records changed in students table!")

1 records changed in students table!

# Limit the records

In [27]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students LIMIT 3 OFFSET 1"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Ahmed', 'CODE30', 2)
('Basant', 'CODE06', 3)
('Bassem', 'CODE11', 4)