In [1]:
import sqlite3
new_connection = sqlite3.connect("data_testing.db")

In [2]:
type(new_connection)

sqlite3.Connection

In [3]:
print(type(new_connection))

<class 'sqlite3.Connection'>

In [4]:
new_cursor = new_connection.cursor()
print(type(new_cursor))

<class 'sqlite3.Cursor'>

In [5]:
new_sql = "SELECT datetime('now', 'localtime');"

In [6]:
new_cursor.execute(new_sql)

In [7]:
new_cursor.fetchone()

('2022-03-08 21:23:17',)

In [10]:
new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [11]:
print(new_dtime)

2022-03-08 21:24:39

In [12]:
new_connection.close()

In [13]:
with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_sql = "SELECT datetime('now', 'localtime');"
    new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [14]:
print(new_dtime)

2022-03-08 21:25:54

# Create table with values

In [15]:
import sqlite3

new_connection = sqlite3.connect("data_testing.db")
new_cursor = new_connection.cursor()

new_cursor.execute("CREATE TABLE clients(Name TEXT, Number INT);")

new_cursor.execute("INSERT INTO clients VALUES('Basma', 2030)")

new_connection.commit()
new_connection.close()

In [16]:
new_connection = sqlite3.connect("data_testing.db")
new_cursor = new_connection.cursor()

new_cursor.execute("SELECT * FROM clients;")

In [17]:
new_cursor.fetchone()

('Basma', 2030)

In [18]:
new_cursor.execute("DROP TABLE clients;")

In [19]:
new_connection.commit()
new_connection.close()

# Full Program to fetch all data from data_testing

In [20]:
import sqlite3

new_values = (
    ("Marwa", 7),
    ("Basma", 30),
    ("Sarah", 11),
)

with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_cursor.execute("DROP TABLE IF EXISTS clients")
    new_cursor.execute("CREATE TABLE clients(Name TEXT, Number INT);")
    
    new_cursor.executemany("INSERT INTO clients VALUES(?, ?)", new_values)
    
    new_cursor.execute("SELECT Name, Number FROM clients WHERE Number > 7;")
    
    for x in new_cursor.fetchall():
        print(x)

('Basma', 30)
('Sarah', 11)